extends index
	#top
			.container
				.col-md-6.offer(data-animate='fadeInDown')
					a.btn.btn-success.btn-sm(href='#', data-animate-hover='shake') Offer of the day
					a(href='#') Get flat 35% off on orders over $50!
				.col-md-6(data-animate='fadeInDown')
					ul.menu
						li
							a(href='#', data-toggle='modal', data-target='#login-modal') Login
						li
							a(href='register.html') Register
						li
							a(href='contact.html') Contact
						li
							a(href='#') Recently viewed
			#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Login', aria-hidden='true')
				.modal-dialog.modal-sm
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h4#Login.modal-title Customer login
						.modal-body
							form(action='customer-orders.html', method='post')
								.form-group
									input#email-modal.form-control(type='text', placeholder='email')
								.form-group
									input#password-modal.form-control(type='password', placeholder='password')
								p.text-center
									button.btn.btn-primary
										i.fa.fa-sign-in
										|  Log in
							p.text-center.text-muted Not registered yet?
							p.text-center.text-muted
								a(href='register.html')
									strong Register now
								| ! It is easy and done in 1 minute and gives you access to special discounts and much more!
	// *** TOP BAR END ***
	//
		*** NAVBAR ***
		_________________________________________________________
	#navbar.navbar.navbar-default.yamm(role='navigation')
		.container
			.navbar-header
				a.navbar-brand.home(href='index.html', data-animate-hover='bounce')
					img.hidden-xs(src='img/logo.png', alt='Obaju logo')
					img.visible-xs(src='img/logo-small.png', alt='Obaju logo')
					span.sr-only Obaju - go to homepage
				.navbar-buttons
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation')
						span.sr-only Toggle navigation
						i.fa.fa-align-justify
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#search')
						span.sr-only Toggle search
						i.fa.fa-search
					a.btn.btn-default.navbar-toggle(href='basket.html')
						i.fa.fa-shopping-cart
						span.hidden-xs 3 items in cart
			// /.navbar-header
			#navigation.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-left
					li.active
						a(href='index.html') Home
					li.dropdown.yamm-fw
						a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='200')
							| Men 
							b.caret
						ul.dropdown-menu
							li
								.yamm-content
									.row
										.col-sm-3
											h5 Clothing
											ul
												li
													a(href='category.html') T-shirts
												li
													a(href='category.html') Shirts
												li
													a(href='category.html') Pants
												li
													a(href='category.html') Accessories
										.col-sm-3
											h5 Shoes
											ul
												li
													a(href='category.html') Trainers
												li
													a(href='category.html') Sandals
												li
													a(href='category.html') Hiking shoes
												li
													a(href='category.html') Casual
										.col-sm-3
											h5 Accessories
											ul
												li
													a(href='category.html') Trainers
												li
													a(href='category.html') Sandals
												li
													a(href='category.html') Hiking shoes
												li
													a(href='category.html') Casual
												li
													a(href='category.html') Hiking shoes
												li
													a(href='category.html') Casual
										.col-sm-3
											h5 Featured
											ul
												li
													a(href='category.html') Trainers
												li
													a(href='category.html') Sandals
												li
													a(href='category.html') Hiking shoes
											h5 Looks and trends
											ul
												li
													a(href='category.html') Trainers
												li
													a(href='category.html') Sandals
												li
													a(href='category.html') Hiking shoes
								// /.yamm-content
					li.dropdown.yamm-fw
						a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='200')
							| Ladies 
							b.caret
						ul.dropdown-menu
							li
								.yamm-content
									.row
										.col-sm-3
											h5 Clothing
											ul
												li
													a(href='category.html') T-shirts
												li
													a(href='category.html') Shirts
												li
													a(href='category.html') Pants
												li
													a(href='category.html') Accessories
										.col-sm-3
											h5 Shoes
											ul
												li
													a(href='category.html') Trainers
												li
													a(href='category.html') Sandals
												li
													a(href='category.html') Hiking shoes
												li
													a(href='category.html') Casual
										.col-sm-3
											h5 Accessories
											ul
												li
													a(href='category.html') Trainers
												li
													a(href='category.html') Sandals
												li
													a(href='category.html') Hiking shoes
												li
													a(href='category.html') Casual
												li
													a(href='category.html') Hiking shoes
												li
													a(href='category.html') Casual
											h5 Looks and trends
											ul
												li
													a(href='category.html') Trainers
												li
													a(href='category.html') Sandals
												li
													a(href='category.html') Hiking shoes
										.col-sm-3
											.banner
												a(href='#')
													img.img.img-responsive(src='img/banner.jpg', alt='')
											.banner
												a(href='#')
													img.img.img-responsive(src='img/banner2.jpg', alt='')
								// /.yamm-content
					li.dropdown.yamm-fw
						a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='200')
							| Template 
							b.caret
						ul.dropdown-menu
							li
								.yamm-content
									.row
										.col-sm-3
											h5 Shop
											ul
												li
													a(href='index.html') Homepage
												li
													a(href='category.html') Category - sidebar left
												li
													a(href='category-right.html') Category - sidebar right
												li
													a(href='category-full.html') Category - full width
												li
													a(href='detail.html') Product detail
										.col-sm-3
											h5 User
											ul
												li
													a(href='register.html') Register / login
												li
													a(href='customer-orders.html') Orders history
												li
													a(href='customer-order.html') Order history detail
												li
													a(href='customer-wishlist.html') Wishlist
												li
													a(href='customer-account.html') Customer account / change password
										.col-sm-3
											h5 Order process
											ul
												li
													a(href='basket.html') Shopping cart
												li
													a(href='checkout1.html') Checkout - step 1
												li
													a(href='checkout2.html') Checkout - step 2
												li
													a(href='checkout3.html') Checkout - step 3
												li
													a(href='checkout4.html') Checkout - step 4
										.col-sm-3
											h5 Pages and blog
											ul
												li
													a(href='blog.html') Blog listing
												li
													a(href='post.html') Blog Post
												li
													a(href='faq.html') FAQ
												li
													a(href='text.html') Text page
												li
													a(href='text-right.html') Text page - right sidebar
												li
													a(href='404.html') 404 page
												li
													a(href='contact.html') Contact
								// /.yamm-content
			// /.nav-collapse
			.navbar-buttons
				#basket-overview.navbar-collapse.collapse.right
					a.btn.btn-primary.navbar-btn(href='basket.html')
						i.fa.fa-shopping-cart
						span.hidden-sm 3 items in cart
				// /.nav-collapse
				#search-not-mobile.navbar-collapse.collapse.right
					button.btn.navbar-btn.btn-primary(type='button', data-toggle='collapse', data-target='#search')
						span.sr-only Toggle search
						i.fa.fa-search
			#search.collapse.clearfix
				form.navbar-form(role='search')
					.input-group
						input.form-control(type='text', placeholder='Search')
						span.input-group-btn
							button.btn.btn-primary(type='submit')
								i.fa.fa-search
			// /.nav-collapse
		// /.container
	// /#navbar
	// *** NAVBAR END ***